wheel
torch
torchvision
pyyaml
coolname
tabulate
tensorboardX
runx==0.0.6
numpy
sklearn
h5py
jupyter
scikit-image
pillow
piexif
cffi
tqdm
dominate
opencv-python
nose
ninja

# pip install --extra-index-url https://developer.download.nvidia.com/compute/redist --upgrade nvidia-dali-cuda102
# git clone https://github.com/NVIDIA/apex.git apex && cd apex && python setup.py install --cuda_ext --cpp_ext && cd ..